body{
    background-color: #FFF;
    padding: 40px 20px 40px;
}

h3{
    font-family: Georgia,"Times new roman",times,serif;
    font-weight: normal;
    line-height: 28px;
}

.load{
    background: url(../img/ajax-loader-white.gif) center center no-repeat;
    width: 16px;
    height: 16px;
}
.mts{
    margin-top: 5px;
}
.mtm{
    margin-top: 10px;
}
.mtl{
    margin-top: 15px;
}




