<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>El Ojo Digital</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/nprogress.css">
        <link rel="stylesheet" href="css/main.css">

        <script type="text/template" id="node-cards">
            <% _.each(nodelist.models, function (nodo) { %>
            <li class="span3 item">       
                <div class="thumbnail">
                    <div class="caption">
                        <h3><a href="<%= nodo.attributes.node.path %>"><%= nodo.attributes.node.title %></a></h3>
                        <p><%= nodo.attributes.node.teaser %></p>
                    </div>
                </div>
            </li>
            <% }); %>
        </script>

        <script type="text/template" id="node-list">
            <% _.each(nodelist.models, function (nodo) { %>
            <article class="media-body mtm">
                <span><%= nodo.attributes.node.created %></span>
                <h5 class="media-heading"><a href="<%= nodo.attributes.node.path %>"><%= nodo.attributes.node.title %></a></h5>
            </article>
            <% }); %>
        </script>


        <script type="text/template" id="taxonomy-template">
            <% _.each(termlist.models, function (term) { %>
            <li>
                <a href="#section/<%= term.attributes.term.id %>" class="sec">
                    <%= term.attributes.term.term %>
                </a>
            </li>
            <% }); %>
        </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">El Ojo Digital</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#section/1">Internacionales</a></li>
                            <li><a href="#sectcion/2" title="Politica">Politica</a></li>
                            <li><a href="#section/3" title="Sociedad">Sociedad</a></li>
                            <li><a href="#section/4204" title="Estados Unidos">Estados Unidos</a></li>
                            <li><a href="#section/8236" title="Think Tanks">Think Tanks</a></li>
                            <li><a href="#section/7" title="Economia">Economia</a></li>
                            <li><a href="#section/13" title="Narcotráfico y adicciones">Narcotrafico y adicciones</a></li>
                            <li><a href="#section/335" title="">English</a></li>
                        </ul>
                        <div class="load hide mtm pull-right"></div>
                        <!--
                        <form class="navbar-form pull-right">
                          <input class="span2" type="text" placeholder="Buscar">
                          <button type="submit" class="btn">Buscar</button>
                        </form>-->
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        
        <div class="container-fluid" id="container">
            <div class="row-fluid">
                <div id="navbar" class="span4">
                    <!--Sidebar content-->
                </div>
                <div id="content" class="span8">
                    <!--Body content-->
                </div>
            </div>
        </div>
        <div>
            
        </div>


        <script src="js/vendor/jquery.js"></script>
        <script src="js/vendor/underscore.js"></script>
        <script src="js/vendor/backbone.js"></script>
        <script src="js/vendor/bootstrap/dropdown.js"></script>
        <script src="js/vendor/bootstrap/transition.js"></script>
        <script src="js/vendor/nprogress.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
