
<article class="m-2" *ngIf="(article$ | async) as article; else loading">
  <small class="m-3">{{article.cintillo}}: {{article.volanta}}</small><br>
  <h1 class="my-2">
    <a routerLink="/article/{{article.id}}" class="m-3">
      {{article.title}}
    </a>
  </h1>
  <p class="border-bottom m-3 pb-3">
    <em>{{article.bajada}}</em>
  </p>
  <p class="border-bottom m-3 pb-3">
    {{article.body}}
  </p>
  <ojo-journalist [id]="article.periodista"></ojo-journalist>
</article>

<ng-template #loading>
  Loading stuff...
</ng-template>