<section class="m-3">
  <div>
    <article *ngFor="let article of principal" class="row my-3 py-3 border-bottom">
      <div class="col">
        <small class="mb-2">
          {{ article.cintillo }}: {{ article.volanta }}
        </small><br />
        <img src="{{ article.photo.src}}" alt="{{ article.photo.alt}}" class="w-100 img-fluid border p-1 rounded" />
        <h1 class="my-3">
          <a routerLink="article/{{ article.id }}" class="node">
            {{ article.title }}
          </a>
        </h1>
        <p class="lead">
          {{ article.bajada }}
        </p>
      </div>
    </article>
  </div>

  <div>
    <article *ngFor="let article of secondary" class="row my-3 py-3 border-bottom">
      <div class="col">
        <small class="mb-2">
          {{ article.cintillo }}: {{article.volanta}}
        </small><br />
        <img src="{{ article.photo.src}}" alt="{{ article.photo.alt}}" class="w-100 img-fluid border p-1 rounded" />
        <h5 class="my-3">
          <a href="{{ article.path }}" class="node">
            {{ article.title }}
          </a>
        </h5>
        <p>
          {{ article.bajada }}
        </p>
      </div>
    </article>
  </div>
</section>