<section class="container my-3 landing">
  <article *ngFor="let article of (principal$ | async)">
    <div><small>{{ article.cintillo }}: {{article.volanta}}</small></div>
    <img src="{{article.photo.src}}" alt="{{article.photo.alt}}" class="img-thumbnail p-1 mr-2 mb-3" />
    <h1 class="mb-0">
      <a routerLink="/article/{{article.id}}">
        {{ article.title }}
      </a>
    </h1>
    <p class="border-bottom pb-3">
      <em>{{article.bajada}}</em>
    </p>
  </article>

  <article *ngFor="let article of (secondary$ | async)">
    <div><small>{{article.cintillo}}: {{article.volanta}}</small></div>
    <div class="row border-bottom pb-3">
      <div class="col-3" *ngIf="article.photo.src">
        <img src="{{ article.photo.src}}" alt="{{ article.photo.alt}}" class="img-thumbnail p-1" />
      </div>
      <div [ngClass]="{'col-9': article.photo.src, 'col-12': !article.photo.src}" class="col-9">

        <h3 class="mb-0">
          <a routerLink="/article/{{article.id}}">
            {{article.title}}
          </a>
        </h3>
        <p>
          <em>{{article.bajada}}</em>
        </p>
      </div>
    </div>
  </article>
</section>